<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Artistas - Allegretto</title>
		<meta name="description" content="Allegretto ofrece una variedad de instrumentos de vientos: Clarinetes, Saxofones, clarientes bajos,saxofones altos de marcas de primera calidad, para estudiantes y profesionales">
		<meta name="keywords" content="instrumentos, buffet, buffet crampon, yamaha, selmer, saxofones, clarientes, clarientes bajos, saxofones altos, musica, barriles, accesorios, artistas, Sabine Meyer, Carmen Borregales, Martin Frost, solistas, orquestas, estuches, boquillas">
		<link rel="icon" href="../assets/img/icon.png">
		<!--bootstrap local-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet">		
		<link rel="stylesheet" href="../assets/css/estilos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>
	<body>
		<!--nav-->
		<section>
			<header>
				<div class="container-fluid">
					<div class="row">
						<nav class="navbar navbar-expand-lg navbar-dark fixed-top block-one__nav">
							<a href="../index.html" class="nav-bar-brand"><img class="block-one__logo" src="../assets/img/logo.png" alt="Allegretto"></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-lg-end justify-content-xl-end" id="navbarNav">
								<ul class="navbar-nav block-one__menu">
									<li class="nav-item active"><a href="../index.html" class="nav-link">INICIO</a></li>

									<!-- Dropdown -->
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">INSTRUMENTOS</a>
											<ul class="dropdown-menu block-one__sub-menu">
												<li><a class="dropdown-item" href="clarinetes.html">CLARINETES</a></li>
											
												<li><a class="dropdown-item" href="saxofones.html">SAXOFONES</a></li>
											</ul>
									<!-- Links -->
									<li class="nav-item active"><a href="accesorios.html" class="nav-link">ACCESORIOS</a></li>
									<li class="nav-item active"><a href="artistas.html" class="nav-link">ARTISTAS</a></li>
									<li class="nav-item active"><a href="contacto.html" class="nav-link">CONTACTO</a></li>		
									</li>		
								</ul>
							</div>	
						</nav>
					</div>	
				</div>
			</header>
		</section>
		<!--nav fin-->

		<section class="block-one__section-artists block-one__margin">
			<h2>Artistas</h2>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 block-one__title-artists"><h3>Sabine Meyer</h3></div>
				</div>

				<div class="row">
				    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><p>Meyer comenzó a tocar el clarinete muy joven. Su primer maestro fue su padre, también clarinetista. Estudió con Otto Hermann en Stuttgart, y luego con Hans Deinzer en la Escuela Superior de Música y Teatro de Hannover, junto con su hermano Wolfgang Meyer, y quien luego sería su esposo, el clarinetista Reiner Wehle, quien trabajó luego en la Filarmónica de Múnich. Comenzó su carrera como miembro de la Orquesta Sinfónica de la Radio de Baviera, y la Orquesta Filarmónica de Berlín, donde fue uno de los primeros miembros de sexo femenino. Además de su trabajo como solista. Desde 1993 es catedrática en la Escuela Superior de Música de Lübeck.</p></div>
				    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><img class="block-one__img-artists" src="../assets/img/sabineMeyer.jpg" alt="sabineMeyer"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 block-one__title-artists"><h3>Carmen Borregales</h3></div>
				</div>

				<div class="row">
				    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><img class="block-one__img-artists" src="../assets/img/carmenb.jpg" alt="carmenBorregales"></div>
				    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><p class="artist3">Clarinetista venezolana formada íntegramente en su país, Venezuela. Miembro de la Orquesta Sinfónica Simón Bolívar desde 2006. Con una importante labor en el área pedagógica desarrollada durante más de diez años en la cátedra de clarinete del Conservatorio de Música Simón Bolívar y la Academia Latinoamericana de Clarinete. Destaca por su clasificación en los concursos internacionales ICA Young Artists Competition 2004 (USA), Geneva International Music Competition 2007 (Suiza), ARD Music Competition Munich 2008 (Alemania). Finalmente, Carl Nielsen International Music Competition 2009 (Dinamarca). A la par de su carrera musical, cabe resaltar su participación protagónica en MAROA, film venezolano dirigido por Solveig Hoogesteijn. A la vez que en 2005 egresa de la Universidad Metropolitana como Licenciada en Idiomas Modernos</p></div>
				</div>


				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 block-one__title-artists"><h3>Martin Frost</h3></div>
				</div>

				<div class="row mb-4">
				    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><p>Es un músico clásico sueco, clarinetista, solista y director de orquesta. Desde joven, a la edad de 5 años, Fröst inició sus estudios musicales con el violín.  Al cumplir los 8 años, empezó a aprender el clarinete. Estudió con Hans Deinzer en Alemania y Sölve Kingstedt y Kjell-Inge Stevensson en Estocolmo. Como solista, Fröst actúa con las mejores orquestas del mundo, incluida la Royal Concertgebouw Orchestra, New York Philharmonic, Los Angeles Philharmonic, Leipzig Gewandhaus Orchestra, Munich Philharmonic, Philharmonia Orchestra y NDR Elbphilharmonie Orchestra, entre otros. Desde septiembre de 2019, es el director titular de la Orquesta de Cámara Sueca.</p></div>
				    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><img class="block-one__img-artists" src="../assets/img/martinfrost.jpg" alt="martinFrost"></div>
				</div>

			</div>
		</section>

		<footer class="block-six__custom-footer pt-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<h4>Allegretto instrumentos</h4>
						<p>Contacto:<p>
						<p>Teléfonos: 008373829</p>
						<p>E-mail: Allegrettointrumentos@gmail.com</p>
					</div>	
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="block-six__custom-social">
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/facebook.png" alt="ícono de facebook"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/instagram.png" alt="ícono de instagram"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/gmail.png" alt="ícono de gmail"></a></li>	
						</ul>
					</div>	
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Allegretto instrumentos 2021 Copyright © Todos los derechos reservados - Política de privacidad</p></div>
				</div>
			</div>
		</footer>

		<!--j-Query, luego Popper.jd, luego bootstrap JS -->
		<script src="../assets/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../assets/bootstrap/js/popper.min.js"></script>
		<script src="../assets/bootstrap/js/bootstrap.min.js"></script>	
	</body>
</html>