<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Instrumentos - Allegretto</title>
		<meta name="description" content="Allegretto ofrece una variedad de instrumentos de vientos: Clarinetes, Saxofones, clarientes bajos,saxofones altos de marcas de primera calidad, para estudiantes y profesionales">
		<meta name="keywords" content="instrumentos, buffet, buffet crampon, yamaha, selmer, saxofones, clarientes, clarientes bajos, saxofones altos, musica, barriles, accesorios, artistas, Sabine Meyer, Carmen Borregales, Martin Frost, solistas, orquestas, estuches, boquillas">
		<link rel="icon" href="../assets/img/icon.png">
		<!--bootstrap local-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet">		
		<link rel="stylesheet" href="../assets/css/estilos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>
	<body>
		<!--nav-->
		<section>
			<header>
				<div class="container-fluid">
					<div class="row">
						<nav class="navbar navbar-expand-lg navbar-dark fixed-top block-one__nav">
							<a href="../index.html" class="nav-bar-brand"><img class="block-one__logo" src="../assets/img/logo.png" alt="Allegretto"></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-lg-end justify-content-xl-end" id="navbarNav">
								<ul class="navbar-nav block-one__menu">
									<li class="nav-item active"><a href="../index.html" class="nav-link">INICIO</a></li>

									<!-- Dropdown -->
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">INSTRUMENTOS</a>
											<ul class="dropdown-menu block-one__sub-menu">
												<li><a class="dropdown-item" href="clarinetes.html">CLARINETES</a></li>
											
												<li><a class="dropdown-item" href="saxofones.html">SAXOFONES</a></li>
											</ul>
									<!-- Links -->
									<li class="nav-item active"><a href="accesorios.html" class="nav-link">ACCESORIOS</a></li>
									<li class="nav-item active"><a href="artistas.html" class="nav-link">ARTISTAS</a></li>
									<li class="nav-item active"><a href="contacto.html" class="nav-link">CONTACTO</a></li>		
									</li>		
								</ul>
							</div>	
						</nav>
					</div>	
				</div>
			</header>
		</section>
		<!--nav fin-->
			
		<section class="block-one__instru-section block-one__margin">
			<h2>Clarinetes</h2>
			<h2 class="block-one__title-clarinet">Clarinetes Buffet</h2>

			<!--Acá comienza cuadro de Gala-->
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/clarineteGala.jpg" alt="Clarinete Gala en si bemol y la, con un cuerpo de madera de granadilla y llaves de plata"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>GALA - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Su diseño aprovecha al máximo las últimas investigaciones y se caracteriza por ricos armónicos y un equilibrio general de la gama del instrumento. Este nuevo clarinete profesional está equipado con chimeneas de madera (dalbergia melanoxylon) y almohadillas de cuero. Los toques finales de anillos, medallón y ligadura niquelados negros adornan el instrumento con sobriedad y elegancia.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Bb, A</li>
							<li>Rango de afinación: 440 - 442Hz</li> 
							<li>Cuerpo: Madera de granadiña teñida (Dalbergia Melanoxylon)</li>
							<li>Barriletes: Sib: 65 y 66mm; A: 64 y 65mm</li>
							<li>Llaves bañadas en platas</li>
							<li>Zapatillas de piel y corcho</li>
							<li>Anillos en niquel plata en negro: 6</li>
							<li>Llaves: 17</li>
							<li>Apoya pulgar regulable en altura</li>
							<li>Aro en la campana aplanado</li>
						</ul>
					</div>	
				</div>

				<!--Acá comienza cuadro de divine-->
				<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/clarineteDivine.jpg" alt="Clarinete Divine en si bemol y la, con cuerpo de dalbergia melanoxylon y llaves de plata"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>DIVINE - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Esta nueva gama de clarinete representa un gran paso adelante en la historia de Buffet Crampon, al fusionar la experiencia técnica con la artesanía sin igual en la fabricación de instrumentos de viento franceses.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Bb</li>
							<li>Rango de afinación: 440 - 442Hz</li>
							<li>Cuerpo: madera de granadillo africano, tratado y barnizado para una protección óptima</li>
							<li>Barriletes: de 66mm y de 65mm</li>
							<li>Llaves: 19 bañadas en plata (incluye llave correctora del Fa grave)</li>
							<li>Anillos: 6</li>
							<li>Muelles de aguja en acero inoxidable</li>
							<li>Zapatillas: Combinación de zapatillas Goretex y zapatillas de corcho natural</li>
							<li>Boquilla Buffet de apertura media</li>
						</ul>
					</div>	
				</div>
				<!--Acá comienza cuadro de Legende-->

				<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/clarineteLegende.jpg" alt="Clarinete Legende en si bemol y la, con madera de granadilla natural llaves plateadas y chapado en oro"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>LÉGENDE - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>La Légende sorprenderá a los clarinetistas con su tono preciso y su respuesta inmediata. Su tono preciso y centrado, característico de este nuevo concepto, resalta un espectro completo del sonido, que abarca desde los colores más brillantes hasta los más suaves.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Bb</li>
							<li>Cuerpo: madera de Granadilla (Dalbergia Melanoxylon)</li>
							<li>Barriletes: de 65mm y de 66mm</li>
							<li>Llaves: 19 bañadas en plata</li>
							<li>Anillos: 6</li>
							<li>Tubo o taladro: cilíndrico</li>
							<li>Zapatillas: GoreTex, 100% waterproof y combinadas con zapatillas de corcho</li>
							<li>Abrazadera Legende en acabado rose gold</li>
							<li>Boquilla y abrazadera Buffet</li>
						</ul>
					</div>	
				</div>
			</div>
		</section>

		<!--Acá comienza section de selmer-->
		<section class="block-one__instru-section">
			<h2 class="block-one__title-clarinet">Clarinetes Selmer</h2>
			<div class="container">
				<!--Acá comienza cuadro de contrabajo-->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/clarineteContrabajo.jpg" alt="clarinete Contrabajo, con cuello de plata, campana de latón plateada, almohadillas de cuero"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>CLARINETE CONTRABAJO - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>La forma de este clarinete es lo que lo distingue del resto de la familia: plegado sobre sí mismo, mide 2,31 metros de largo. Hecho de metal y madera, se extiende a una octava más baja que el clarinete bajo si bemol.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Bb</li>
							<li>Rango de afiinación: 442Hz</li>
							<li>Cuerpo: Madera de palisandro</li>
							<li>Campana: Latón, chapada en plata</li>
							<li>Llave de octava Automática</li>
							<li>Llaves: 18 Plateadas</li>
							<li>Muelles: De aguja en acero inoxidable</li>
							<li>Pica Ajustable</li>
							<li>Anillos: 7</li>
							<li>Zapatillas de cuero con resonadores metálicos</li>
						</ul>
					</div>	
				</div>

				<!--Acá comienza cuadro de contralto-->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/clarineteContralto.jpg" alt="Clarinete Contralto, con cuello plateado, campana de latón y almohadillas de cuero"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>CLARIENTE CONTRALTO - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Este clarinete se basa en todos los encantos de su registro profundo y maravillosamente suave, que le da un rango excepcional. Opción excelente para orquestas, músicos profesionales amantes del clarinete o del sector que tocan varios instrumentos y buscan calidad exepcional.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Eb</li>
							<li>Rango de afiinación: 442Hz</li>
							<li>Sistema Boehm con 18 llaves y 7 anillos</li>
							<li>Cuerpo: palisandro de Río</li>
							<li>Tudel plateado ajustable</li>
							<li>Zapatillas de piel con resonador de metal</li>
							<li>Campana plateada</li>
							<li>Apoyapie ajustable</li>
						</ul>
					</div>	
				</div>
			</div>
		</section>

		<footer class="block-six__custom-footer pt-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<h4>Allegretto instrumentos</h4>
						<p>Contacto:<p>
						<p>Teléfonos: 008373829</p>
						<p>E-mail: Allegrettointrumentos@gmail.com</p>
					</div>		
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="block-six__custom-social">
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/facebook.png" alt="ícono de facebook"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/instagram.png" alt="ícono de instagram"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/gmail.png" alt="ícono de gmail"></a></li>	
						</ul>
					</div>	
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Allegretto instrumentos 2021 Copyright © Todos los derechos reservados - Política de privacidad</p></div>
				</div>
			</div>
		</footer>

		<!--j-Query, luego Popper.jd, luego bootstrap JS -->
		<script src="../assets/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../assets/bootstrap/js/popper.min.js"></script>
		<script src="../assets/bootstrap/js/bootstrap.min.js"></script>	
	</body>
</html>