<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Contacto - Allegretto</title>
		<meta name="description" content="Allegretto ofrece una variedad de instrumentos de vientos: Clarinetes, Saxofones, clarientes bajos,saxofones altos de marcas de primera calidad, para estudiantes y profesionales">
		<meta name="keywords" content="instrumentos, buffet, buffet crampon, yamaha, selmer, saxofones, clarientes, clarientes bajos, saxofones altos, musica, barriles, accesorios, artistas, Sabine Meyer, Carmen Borregales, Martin Frost, solistas, orquestas, estuches, boquillas">
		<link rel="icon" href="../assets/img/icon.png">
		<!--bootstrap local-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet">		
		<link rel="stylesheet" href="../assets/css/estilos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>
	<body>
		<!--nav-->
		<section>
			<header>
				<div class="container-fluid">
					<div class="row">
						<nav class="navbar navbar-expand-lg navbar-dark fixed-top block-one__nav">
							<a href="../index.html" class="nav-bar-brand"><img class="block-one__logo" src="../assets/img/logo.png" alt="Allegretto"></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-lg-end justify-content-xl-end" id="navbarNav">
								<ul class="navbar-nav block-one__menu">
									<li class="nav-item active"><a href="../index.html" class="nav-link">INICIO</a></li>

									<!-- Dropdown -->
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">INSTRUMENTOS</a>
											<ul class="dropdown-menu block-one__sub-menu">
												<li><a class="dropdown-item" href="clarinetes.html">CLARINETES</a></li>
											
												<li><a class="dropdown-item" href="saxofones.html">SAXOFONES</a></li>
											</ul>
									<!-- Links -->
									<li class="nav-item active"><a href="accesorios.html" class="nav-link">ACCESORIOS</a></li>
									<li class="nav-item active"><a href="artistas.html" class="nav-link">ARTISTAS</a></li>
									<li class="nav-item active"><a href="contacto.html" class="nav-link">CONTACTO</a></li>		
									</li>		
								</ul>
							</div>	
						</nav>
					</div>	
				</div>
			</header>
		</section>
		<!--nav fin-->
			
		<section class="block-one__contact ">
			<div class="container">
				<h2 class="block-one__margin-contact">CONTACTO</h2>
				<div class="row block-one__contact-custom">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
						<p>Teléfonos: 008373829</p>
						<p>E-mail: Allegrettointrumentos@gmail.com</p>
						<p>Horarios de Atención:</p>
						<p>Lunes a Sábados: 10hs a 18hs</p>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
						<ul class="block-six__custom-social">
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/facebook.png" alt="ícono de facebook"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/instagram.png" alt="ícono de instagram"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/gmail.png" alt="ícono de gmail"></a></li>	
						</ul>
					</div>
				</div>		
			</div>
		</section>

		<section class="block-two__form">
			<legend>Contactanos</legend>
			<div>
				<form>
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="Nombre_apellido">Nombre y apellido:</label>
				      <input type="text" class="form-control" id="Nombre_apellido" placeholder="Ingrese su nombre y apellido">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="email">Correo Electrónico:</label>
				      <input type="email" class="form-control" id="email " placeholder="Ingresesucorreo@mail.com">
				    </div>
				  </div>
				  <div class="form-group col-md-6 offset-md-3">
				    <label for="tel">Teléfono:</label>
				    <input type="tel" class="form-control" id="tel" placeholder="351-1234567">
				  </div>
				    <div class="form-group col-md-6 offset-md-3">
				      <label for="asunto">Asunto:</label>
				      <select id="asunto" class="form-control">
 						<option value="instrumentos">Instrumentos</option>
						<option value="accesorios">Accesorios</option>
						<option value="otros">Otros</option>
				      </select>
				    </div>
				  </div>
				  <div>
					<p>¿Desea recibir información de nuestra página?</p>
				  </div>
				  <div class="form-group">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					  <label class="form-check-label" for="inlineRadio1">Sí</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					  <label class="form-check-label" for="inlineRadio2">No</label>
					</div>
				  </div>
				  <input type="submit" value="Enviar" class="btn btn-outline-warning"/>
				  <input type="reset" value="Limpiar Datos" class="btn btn-outline-warning"/>
				</form>
			</div>
		</section>

		<footer class="block-six__custom-footer pt-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<h4>Allegretto instrumentos</h4>
						<p>Contacto:<p>
						<p>Teléfonos: 008373829</p>
						<p>E-mail: Allegrettointrumentos@gmail.com</p>
					</div>		
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="block-six__custom-social">
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/facebook.png" alt="ícono de facebook"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/instagram.png" alt="ícono de instagram"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/gmail.png" alt="ícono de gmail"></a></li>	
						</ul>
					</div>	
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Allegretto instrumentos 2021 Copyright © Todos los derechos reservados - Política de privacidad</p></div>
				</div>
			</div>
		</footer>

		<!--j-Query, luego Popper.jd, luego bootstrap JS -->
		<script src="../assets/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../assets/bootstrap/js/popper.min.js"></script>
		<script src="../assets/bootstrap/js/bootstrap.min.js"></script>	
	</body>
</html>