<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Instrumentos - Allegretto</title>
		<meta name="description" content="Allegretto ofrece una variedad de instrumentos de vientos: Clarinetes, Saxofones, clarientes bajos,saxofones altos de marcas de primera calidad, para estudiantes y profesionales">
		<meta name="keywords" content="instrumentos, buffet, buffet crampon, yamaha, selmer, saxofones, clarientes, clarientes bajos, saxofones altos, musica, barriles, accesorios, artistas, Sabine Meyer, Carmen Borregales, Martin Frost, solistas, orquestas, estuches, boquillas">
		<link rel="icon" href="../assets/img/icon.png">
		<!--bootstrap local-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet">		
		<link rel="stylesheet" href="../assets/css/estilos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>
	<body>
		<!--nav-->
		<section>
			<header>
				<div class="container-fluid">
					<div class="row">
						<nav class="navbar navbar-expand-lg navbar-dark fixed-top block-one__nav">
							<a href="../index.html" class="nav-bar-brand"><img class="block-one__logo" src="../assets/img/logo.png" alt="Allegretto"></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-lg-end justify-content-xl-end" id="navbarNav">
								<ul class="navbar-nav block-one__menu">
									<li class="nav-item active"><a href="../index.html" class="nav-link">INICIO</a></li>

									<!-- Dropdown -->
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">INSTRUMENTOS</a>
											<ul class="dropdown-menu block-one__sub-menu">
												<li><a class="dropdown-item" href="clarinetes.html">CLARINETES</a></li>
											
												<li><a class="dropdown-item" href="saxofones.html">SAXOFONES</a></li>
											</ul>
									<!-- Links -->
									<li class="nav-item active"><a href="accesorios.html" class="nav-link">ACCESORIOS</a></li>
									<li class="nav-item active"><a href="artistas.html" class="nav-link">ARTISTAS</a></li>
									<li class="nav-item active"><a href="contacto.html" class="nav-link">CONTACTO</a></li>		
									</li>		
								</ul>
							</div>	
						</nav>
					</div>	
				</div>
			</header>
		</section>
		<!--nav fin-->

		<section class="block-one__instru-section block-one__margin">
			<h2>Saxofones</h2>
			<h2 class="block-one__title-clarinet">Saxofones Yamaha</h2>
			<div class="container">
				<!--Acá comienza cuadro de saxo alto dorado-->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/saxoaltoyamaha.jpg" alt="Saxofone alto dorado standar eb yamaha, llave f# y palanca fa frontal, boquilla 4c, acabado lacado dorado, perlas de poliéster"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>SAXOFON ALTO DORADO Eb - CONSERVATORIO</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>La acústica, las características ergonómicas y la estética evocan el espíritu de este modelo, el color de tono redondo y muy centrado permite tener una afinacion con equilibrio y excepcional. Destaca por su gran facilidad de ejecución, flexibilidad y potencia, dando rienda suelta a la expresividad de cada uno.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Eb</li>
							<li>Gancho de pulgar ajustable</li>
							<li>Perlas de poliéster</li>
							<li>Acabado lacado dorado</li>
							<li>Boquilla 4C</li>
							<li>Llave F# y palanca de Fa frontal</li>
						</ul>
					</div>	
				</div>
				<!--Acá comienza cuadro de saxo alto dorado YAS-480-->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/saxoaltointermedioy.jpg" alt="Saxo Alto dorado YAS 480, sonido muy abierto, armónicamente rico y su excelente poder proyectivo lo convierten en un instrumento particularmente versátil."></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>SAXOFON ALTO DORADO YAS-480 - INTERMEDIO</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Su sonido muy abierto, armónicamente rico y su excelente poder proyectivo lo convierten en un instrumento particularmente versátil. Su potencia sonora y su amplio rango dinámico lo convierten en el instrumento de elección, ideal tanto en el Cuarteto como en grupos más grandes o bandas de conciertos.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Eb</li>
							<li>Llave F# y palanca de Fa fronta</li>
							<li>Tornillo de pivote cónico con cabeza, con cordón de nylon</li>
							<li>Gancho de pulgar ajustable</li>
							<li>Perlas de poliéster</li>
							<li>Acabado lacado dorado</li>
							<li>Boquilla 4C</li>
						</ul>
					</div>	
				</div>
				<!--Acá comienza cuadro de saxo alto dorado YAS-62-->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/saxofonaltoprofesionalyamaha.jpg" alt="saxo alto dorado YAS-62 profesional su mecanismo extremadamente bien equilibrado ofrece una gran precisión al tocar."></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>SAXOFON ALTO DORADO YAS-62 - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Es el instrumento ideal para músicos que desean adquirir un saxofón profesional a un precio más asequible. El mecanismo extremadamente bien equilibrado ofrece una gran precisión al tocar.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Eb</li>
							<li>Llave F# y palanca de Fa frontal</li>
							<li>Gancho de pulgar ajustable</li>
							<li>Tornillo de pivote cónico con cabeza, con cordón de nylon</li>
							<li>Perlas de poliéster</li>
							<li>Boquilla 4C</li>
							<li>Acabado lacado dorado</li>
						</ul>	
					</div>	
				</div>
			</div>
		</section>

		<!--Acá comienza section Saxo Selmer-->
		<section class="block-one__instru-section">
			<h2 class="block-one__title-clarinet ">Saxofones Selmer</h2>
			<div class="container">

				<!--Acá comienza cuadro saxo barítono serie III -->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/saxobaritonoselmer.jpg" alt="saxofone barítono serie III, con lacado dorado, negro y llaves lacadas en oro"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>SAXOFONE BARÍTONO SERIE III</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>El barítono de la Serie III abre el camino a un repertorio original y un destino solista, siguiendo el camino  de solista del clarinete bajo.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Eb</li>
							<li>Peso 5,6 kilogramos</li>
							<li>Almohadillas: cuero y remache con refuerzo de metal</li>
							<li>Apoya pulgar ajustable</li>
							<li>Muelles de aguja de acero inoxidable</li>
							<li>Zapatillas de cuero</li>
							<li>Campana grabada</li>
						</ul>
					</div>	
				</div>
				<!--Acá comienza cuadro saxo soprano serie III -->
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><img class="block-one__instrument-custom" src="../assets/img/saxosopranoselmer.jpg" alt="saxofone soprano serie III, con lacado dorado, negro y llaves lacadas en oro, almohadillas con refuerzo metálico"></div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>SAXOFONE SOPRANO SERIE III - PROFESIONAL</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Un instrumento flexible, con una fácil modulación de sonido y un tono suave y cálido, muestra un timbre rico sin agresividad particularmente en el registro superior (altissimo), un tono muy homogéneo y estable y un rango expandido, gracias a su clave G alta.</p></div>	
				</div>

				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3>ESPECIFICACIONES TÉCNICAS</h3></div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="frame4">
							<li>Bb</li>
							<li>Rango: High G</li>
							<li>Reposa manos pulgar izquierda: Metal ajustable</li>
							<li>Reposa manos pulgar derecha: Plástico</li>
							<li>Muelles: Aguja en acero inoxidable</li>
							<li>Zapatillas: Cuero con resonadores metalicos</li>
							<li>Llaves adicionales: Fa# agudo</li>
						</ul>
					</div>	
				</div>
			</div>	
		</section>

		<footer class="block-six__custom-footer pt-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<h4>Allegretto instrumentos</h4>
						<p>Contacto:<p>
						<p>Teléfonos: 008373829</p>
						<p>E-mail: Allegrettointrumentos@gmail.com</p>
					</div>	
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<ul class="block-six__custom-social">
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/facebook.png" alt="ícono de facebook"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/instagram.png" alt="ícono de instagram"></a></li>
							<li><a href=""></a><img class="block-six__custom-icon" src="../assets/img/gmail.png" alt="ícono de gmail"></a></li>	
						</ul>
					</div>	
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><p>Allegretto instrumentos 2021 Copyright © Todos los derechos reservados - Política de privacidad</p></div>
				</div>
			</div>
		</footer>

		<!--j-Query, luego Popper.jd, luego bootstrap JS -->
		<script src="../assets/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../assets/bootstrap/js/popper.min.js"></script>
		<script src="../assets/bootstrap/js/bootstrap.min.js"></script>	
	</body>
</html>